{
    "presets": ["@babel/preset-env"],
    "plugins": [
        [
            "module-resolver",
            {
                "root": [
                    "/"
                ],
                "alias": {
                    "@app": "./src",
                    "@server": "./src/server",
                    "@routes": "./src/server/routes",
                    "@utils": "./src/server/utils"
                }
            }
        ]
    ]
}
