<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="description" content="Materialize is a Material Design Admin Template,It's modern, responsive and based on Material Design by Google. ">
        <meta name="keywords" content="materialize, admin template, dashboard template, flat admin template, responsive admin template,">
        <title>Blitar Smart City - Command Center</title>
        <link rel="icon" href="/images/favicon/favicon-32x32.png" sizes="32x32">
        <link rel="apple-touch-icon-precomposed" href="/images/favicon/apple-touch-icon-152x152.png">
        <meta name="msapplication-TileColor" content="#00bcd4">
        <meta name="msapplication-TileImage" content="images/favicon/mstile-144x144.png">
        <link href="/css/materialize.css" type="text/css" rel="stylesheet">
        <link href="/css/style.css" type="text/css" rel="stylesheet">
        <link href="/css/custom.css" type="text/css" rel="stylesheet">
        <link href="/vendors/perfect-scrollbar/perfect-scrollbar.css" type="text/css" rel="stylesheet">
        <link href="/vendors/jvectormap/jquery-jvectormap.css" type="text/css" rel="stylesheet">
        <link href="/vendors/flag-icon/css/flag-icon.css" type="text/css" rel="stylesheet">
        <link href="/vendors/weather/css/weather-icons.css" type="text/css" rel="stylesheet">
        <link href="/vendors/weather/css/weather-icons-wind.css" type="text/css" rel="stylesheet">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
            integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
            crossorigin=""/>
    </head>
    <body class="layout-semi-dark">
        <div id="app-container"></div>

        <script type="text/javascript" src="/vendors/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
        <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
            integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
            crossorigin=""></script>

        <script type="text/javascript" src="/js/materialize.min.js"></script>
        <script type="text/javascript" src="/js/plugins.min.js"></script>
        <script type="text/javascript" src="/js/custom-script.min.js"></script>

        <script type="text/javascript" src="/bundle/client.min.js"></script>
    </body>
</html>
